.contenedor{
    display: flex;
    justify-content: center;
    
}
.formulario{
    width: 400px;
    border: 1px solid #9c9c9c;
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin: 3rem;
    background-color: #282c30;
    color: #fff;
    font-weight: 500;
}
input {
    margin-bottom: 1rem;
}
button{
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
.titulo{
    text-align: center;
}