.contenedor-pizza{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #e4e4e4;
    max-width: 70rem;
    min-width: 50rem;
}
.img-pizza{
    width: 30rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin: 1rem;
}
.descripcion-pizza{
    margin: 1rem;
}
.descripcion-pizza-titulo{
    text-transform: capitalize;
}
