.contenedor-pizza{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 5rem;
    border: 1px solid #000;
    border-radius: 10px;
}
.img-pizza{
    width: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.descripcion-pizza{
    margin: 1rem;
}
.descripcion-pizza-titulo{
    text-transform: capitalize;
}